/*Stile für die Neuseelandreise */

/*aus font.google.com rauskopieren*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');


body {
    background-color: #eeeeee;
    /*aus font.google.com rauskopieren*/
    font-family: 'Open Sans', sans-serif;
    /*ALT: font-family: Verdana, Arial, Helvetica, sans-serif, monospace; --> Browser verwendet immer das die schrift die verfügbar ist, deshalb haben wir mehrere hingeschrieben*/
}

header {
    text-align: center;

}

img.banner {
    width: 100%;
}

/*wenn einen Class angesprochen wird*/
img.user {
    border-radius: 50%;
    margin-top: -50px;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
    /*Seite in Mitte gerückt*/
}

main p{

    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{

    font-family: 'Montserrat', sans-serif;
}

article {
    padding: 1em;
    ;
}

/*alle p Elemente, die im article sind*/
article p {
    text-align: justify;
    line-height: 1.2em;
}

article figure img {
    width: 100%;
}

a {
    color: black;
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em
        /*Abstand: oben, rechts, links, unten*/

}

footer .back {
    float: left
}

footer .next {
    float: right
}

.shadow {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}