/*Stile für die Neuseelandreise */


body {
    background-color: silver
}

header{
    text-align: center;
}

main {
    background-color: white;
    max-width: 1024px;
    margin:auto; /*Seite in Mitte gerückt*/
}

article {
    padding: 1em;
    ;
}

/*alle p Elemente, die im article sind*/
article p {
    text-align: justify;
    line-height: 1.2em;
}

a {
    color: black;
}

